.cnblogs_code {
    width: auto;
    border-radius: 4px;
    box-shadow: 3px 2px 7px #bdb7b7;
}

.ws-title {
    background-color: #28789c;
    font-size: 25px;
    padding: 8px 24px;
    border-radius: 4px;
    text-align: left;
    box-shadow: 1px 4px 5px 1px #888888;
    color: #fff;
}

.ws-content {
    margin-left: 20px;
    margin-top: 12px;
    clear: both;
    color: rgb(64, 64, 64);
    font-size: 16px;
}

.ws-description {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    box-shadow: 3px 2px 7px 0px #bdb7b7;
    margin: 10px 0px;
}

.ws-description p {
    padding: 1px 12px;
}

.ws-content table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    word-break: break-word;
    margin: 8px 0px;
    box-shadow: 3px 2px 7px #bdb7b7;
    width: 100%;
}

.ws-content th {
    background-color: #fafafa
}

.ws-content th,
.ws-content td {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: 8px 14px
}

.ws-content blockquote {
    padding: 6pt 20pt;
    background-color: #f2f2f2;
    border-left: 6px solid #b3b3b3;
    word-break: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 20px;
    border-radius: 6pt;
    box-shadow: 3px 2px 7px #bdb7b7;
}

.ws-copyright {
    border: 1px solid #f3f3f3;
    border-radius: 7px;
    padding: 13px;
    font-weight: 600;
    background: #fdfdfd;
    margin-top: 36px;
    box-shadow: 3px 2px 7px #bdb7b7;
}

#EntryTag {
    float: right;
    margin-right: 45px;
    padding-top: 18px;
}

#BlogPostCategory {
    display: none;
}

#div_digg {
    margin-top: 0px;
}

#author_profile {
    margin-top: 8px;
}


/*** markdown **/

#topics .cnblogs-markdown {
    color: #333;
}

#topics .cnblogs-markdown h1 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 0;
}

#topics .cnblogs-markdown h2 {
    font-size: 20px;
    padding-bottom: 3px;
    color: rgb(11, 87, 173);
    border-bottom: 2px solid rgb(11, 87, 173);
    margin: 30px 0 20px;
}

#topics .cnblogs-markdown h2 code {
    border: 0px !important;
    font-family: inherit !important;
    font-size: inherit !important;
    background-color: transparent !important;
    margin: 0px;
    padding: 0px;
    line-height: inherit;
    vertical-align: bottom;
    color: rgb(11, 87, 173);
}

#topics .cnblogs-markdown p {
    margin-top: 0px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.85;
}

#topics .cnblogs-markdown blockquote {
    background-color: #f2f2f2;
    border-left: 6px solid #b3b3b3;
    word-break: break-word;
    font-weight: 400;
    line-height: 30px;
}

#topics .cnblogs-markdown blockquote p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#topics .cnblogs-markdown table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    word-break: break-word;
    margin: 8px 0px;
    box-shadow: 3px 2px 7px #bdb7b7;
    width: 100%;
}

#topics .cnblogs-markdown table th {
    background-color: #fafafa
}

#topics .cnblogs-markdown table th,
#topics .cnblogs-markdown table td {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: 8px 14px
}

#topics .cnblogs-markdown li {
    line-height: 28px;
}

#topics .cnblogs-markdown ol>li {
    margin-top: 12px;
}

#topics .cnblogs-markdown pre code {
    width: auto;
    border-radius: 4px;
    box-shadow: 3px 2px 7px #bdb7b7;
}

#topics .cnblogs-markdown pre .language-diff .hljs-addition {
    color: #0f880f;
}

#topics .cnblogs-markdown pre .language-diff .hljs-deletion {
    color: #e80c0c;
    text-decoration: line-through;
}

#topics .cnblogs-markdown hr {
    border-bottom: 2px solid rgb(11, 87, 173);
    margin: 30px 0 20px;
}